ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  ul li a{
    height: 40rem;
    width: 20rem;
    border: 1px solid rgb(219, 200, 209);
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: rgb(69, 56, 63);
    background-color:rgb(211, 195, 203) ;
  }
  li a:hover{
    opacity: 0.85;
  
  }
  .content{
    padding: .5rem 3 rem;
    position: relative;
    font-size: 30x;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 justify-content: center;
  }
  .zakazan{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem;
  }
  .zakazan.not{
    color:rgb(168, 164, 164);
  } 

  .btn{
    border: none;
    outline: 0;
    padding: 12px;
    margin-top: 12px;
    color: white;
    background-color: #534545;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
    border-radius: 15px 15px 15px 15px;
  
  }
  


.h{
  display: flex;
  justify-content:center;
  
  color: #534545;
}