div{
    display: flex;
    justify-content: end;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    
    }
    div input{
      border-radius: 10rem 0 0 10rem;
                 /* toplef toprig botrig bottlef */
      border: none;
      height: 2.4rem;
      width: 30rem;
      background-color: rgb(207, 191, 195);
      padding: 1.2rem;
      font-size: 1rem;
      font-weight: 500;
      outline: none;
    }
    div button{
      color:rgb(88, 63, 68);
      border:none;
      height: 2.4rem;
      width: 6rem;
      border-radius: 0 10rem 10rem 0;
      outline: none;
 
    
    }
    div button:hover{
      opacity: 1;
      cursor: pointer;
    }
    